//fonts-faces
@font-face {
  font-family: 'pp_moriextralight';
  src: url('../../fonts/PP_Mori/ppmori-extralight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pp_moriextralight_italic';
  src: url('../../fonts/PP_Mori/ppmori-extralightitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pp_moriregular';
  src: url('../../fonts/PP_Mori/ppmori-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pp_moriregular_italic';
  src: url('../../fonts/PP_Mori/ppmori-regularitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pp_morisemibold';
  src: url('../../fonts/PP_Mori/ppmori-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pp_morisemibold_italic';
  src: url('../../fonts/PP_Mori/ppmori-semibolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Krylon';
  src: url('../../fonts/Krylon/Krylon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


$font_title   : krylon;
$size_title   : 60px;
$color_title  : #F2F2F2;

$font_sub-title   : krylon;
$size_sub-title   : 40px;
$color_sub-title  : #F2F2F2;

$font_title-product   : krylon;
$size_title-product   : 20px;
$color_title-product  : #F2F2F2;

$font_price-product   : pp mori;
$size_price-product   : 14px;
$color_price-product  : #F2F2F2;

$font_text  : pp mori;
$size_text  : 14px;
$color_text : #F2F2F2;

$font_sub-title-text  : pp mori;
$size_sub-title-text  : 14px;
$color_sub-title-text : #F2F2F2;

$font_button-text : krylon;
$size_button-text : 14px;
$color_button-text: #F2F2F2;
