@import "functions";

@mixin product-card-title {
  font-family: "Krylon", sans-serif;
  font-size: rem(30);

}

@mixin product-card-price {
  font-family: "pp_moriextralight", sans-serif;
  font-size: rem(20);
}

@mixin button {
  font-family: "Krylon", sans-serif;
  font-size: rem(20);
}

@mixin subtitle {
  font-family: "pp_moriregular", sans-serif;
  font-size: rem(17);
  line-height: 145%;
}

@mixin corps {
  font-family: "pp_moriextralight", sans-serif;
  font-size: rem(16);
  line-height: 145%;
}