@import "variables";
@import "typography";
@import "functions";
@import "mixins";

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}